version: "3.7"

services:

  consumer:
    container_name: consumer
    image: karimullin_servers_image
    restart: unless-stopped
    expose:
      - "22"
      - "8097"
    networks:
      karimullin_network:
        ipv4_address: 172.18.0.2

  producer:
    container_name: producer
    image: karimullin_servers_image
    restart: unless-stopped
    expose:
      - "22"
      - "8000"
    networks:
      karimullin_network:
        ipv4_address: 172.18.0.3

  db:
    container_name: mysql
    image: karimullin_servers_image
    restart: unless-stopped
    expose:
      - "22"
      - "3306"
    volumes:
      - karimullin_db_data_volume:/var/lib/mysql
    networks:
      karimullin_network:
        ipv4_address: 172.18.0.4

  ansible:
    container_name: ansible
    image: karimullin_ansible_image
    command: ansible-playbook -i inventories/hosts playbook.yml
#    command: sshpass -p root ssh root@172.18.0.2
#    command: ping 172.18.0.2
    restart: "no"
    expose:
      - "22"
    networks:
      karimullin_network:
        ipv4_address: 172.18.0.5

networks:
  karimullin_network:
    driver: bridge
    name: karimullin_network
    ipam:
      config:
        - subnet: 172.18.0.0/16

volumes:
  karimullin_db_data_volume:
    name: karimullin_db_data_volume
    driver: local